.customized-table {
    width: 100% !important;
}

.pie-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

.pie-chart-wrapper {
    margin-top: 20px;
}

.MuiBox-root.css-1n2mv2k a:hover {
    color: #38775B;
}