.customized-table {
    width: 100% !important;
}

.pie-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

.pie-chart-wrapper {
    margin-top: 20px;
}